@inherits UniComponentBase
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing

<NavigationLock ConfirmExternalNavigation="ShouldConfirmNavigation" OnBeforeInternalNavigation="OnBeforeNavigationAsync" />
<EditForm @ref="_form" Model="Model" OnSubmit="SubmitAsync"
	id="@Id" class="@CssClass.Default(DefaultClass).Add(Class)" style="@Style">
	<DataAnnotationsValidator />
	<ValidationSummary Model="!ValidationSummaryAll ? Model : null"
		class="@CssClass.Default(DefaultValidationClass).Add(ValidationClass)"
		style="@ValidationStyle" />
	<CascadingValue Value="this" IsFixed>
		@ChildContent
	</CascadingValue>
	<button type="submit" hidden></button>
</EditForm>